@font-face {
  font-family: "Bookerly";
  src: url("../includes/Bookerly-Regular.eot");
  src: url("../includes/Bookerly-Regular.eot?#iefix") format("embedded-opentype"), url("../includes/Bookerly-Regular.woff") format("woff"), url("../includes/Bookerly-Regular.ttf") format("truetype"), url("../includes/Bookerly-Regular.svg#Bookerly") format("svg");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: "Bookerly Bold";
  src: url("../includes/Bookerly-Bold.eot");
  src: url("../includes/Bookerly-Bold.eot?#iefix") format("embedded-opentype"), url("../includes/Bookerly-Bold.woff") format("woff"), url("../includes/Bookerly-Bold.ttf") format("truetype"), url("../includes/Bookerly-Bold.svg#Bookerly Bold") format("svg");
  font-weight: normal;
  font-style: normal
}

html {
	background: aliceblue;
}

body {
	background: inherit;
	font-family: "Bookerly Bold";
}

a {
	font-size: 17px;
}

#ec-logo {
  max-width: 300%;
  max-height: 300%;
}

.rose-navbar {
  background-color: #6fdaff;
  border-color: #6fdaff;
}

.navbar-nav > .active > a {
	background: #f98ab2;
}

.angular-view {
	margin-top: 5em;
}

#botao-menu, #botao-menu:hover, #botao-menu:focus{
	background: #f973a0;
	border: white;
}

 #botao-menu > span {
	 background : white;
 }