<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="img/1.jpg" alt="...">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>...</p>
          <p>
            <a href="#" class="btn btn-primary" role="button">
              <i class="fa fa-cart-plus" aria-hidden="true"></i>  Adicionar ao carrinho
            </a>
            <a href="#" class="btn btn-default" role="button">
              <i class="fa fa-plus" aria-hidden="true"></i> Detalhes
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="img/4.jpg" alt="...">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>...</p>
          <p>
            <a href="#" class="btn btn-primary" role="button">
              <i class="fa fa-cart-plus" aria-hidden="true"></i>  Adicionar ao carrinho
            </a>
            <a href="#" class="btn btn-default" role="button">
              <i class="fa fa-plus" aria-hidden="true"></i> Detalhes
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="img/6.jpg" alt="...">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>...</p>
          <p>
            <a href="#" class="btn btn-primary" role="button">
              <i class="fa fa-cart-plus" aria-hidden="true"></i>  Adicionar ao carrinho
            </a>
            <a href="#" class="btn btn-default" role="button">
              <i class="fa fa-plus" aria-hidden="true"></i> Detalhes
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="img/5.jpeg" alt="...">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>...</p>
          <p>
            <a href="#" class="btn btn-primary" role="button">
              <i class="fa fa-cart-plus" aria-hidden="true"></i>  Adicionar ao carrinho
            </a>
            <a href="#" class="btn btn-default" role="button">
              <i class="fa fa-plus" aria-hidden="true"></i> Detalhes
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="img/3.jpg" alt="...">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>...</p>
          <p>
            <a href="#" class="btn btn-primary" role="button">
              <i class="fa fa-cart-plus" aria-hidden="true"></i>  Adicionar ao carrinho
            </a>
            <a href="#" class="btn btn-default" role="button">
              <i class="fa fa-plus" aria-hidden="true"></i> Detalhes
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="img/2.jpg" alt="...">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>...</p>
          <p>
            <a href="#" class="btn btn-primary" role="button">
              <i class="fa fa-cart-plus" aria-hidden="true"></i>  Adicionar ao carrinho
            </a>
            <a href="#" class="btn btn-default" role="button">
              <i class="fa fa-plus" aria-hidden="true"></i> Detalhes
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>